.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--silver);
  background-size: cover;
}

.slides.avatar-m, .avatar-m img {
  background-color: var(--silver);
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'><path d='M36.951 66.305c-.986.139-4.865 2.639-5.431 3.873-.566 1.236-2.19 3.971-3.14 4.307-2.043.719-6.439 2.451-7.791 3.45-2.315 1.698-7.826 3.156-12.131 3.844-4.302.682-7.02 6.927-7.02 6.927-.016.212-1.473 11.093-1.437 11.293h99.999s-1.42-10.612-1.434-10.823c0 0-2.72-6.715-7.02-7.398-4.301-.689-9.826-2.147-12.136-3.844-1.351-.998-5.752-2.73-7.79-3.45-.952-.335-2.58-3.071-3.139-4.307-.565-1.236-4.445-3.734-5.434-3.873v-3.15s6.716-9.892 7.665-16.694c0 0 3.359 1.766 3.569-4.908.155-5.142 1.089-7.15-2.592-8.653 0 0 .265-3.557.382-6.715.184-4.681 1.092-11.25-7.432-16.532-1.211-.751-7.463-4.056-7.503-4.038-2.229-1.285-5.059-2.104-5.059-2.104l.091 1.929-.447-.424c-.561-.552-.879-2.679-.824-3.521l.11-1.496c-4.037 2.862-6.822 6.56-6.822 6.56l.361-3.578s-.748 1.096-9.985 6.576c-9.061 5.375-7.56 13.309-7.312 18.006.167 3.158.497 5.334.497 5.334-3.679 1.503-1.751 3.648-1.658 8.789.119 7.112 3.891 5.859 3.891 5.859 1.737 9.688 7.478 15.609 7.478 15.609l-.505 3.15z' fill='#fff'/></svg>");
}
.slides.avatar-f, .avatar-f img {
  background-color: var(--silver);
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'><path d='M99.999 100c.039-.204-1.42-10.788-1.434-11.002 0 0-2.72-6.826-7.02-7.52-4.301-.7-9.826-2.183-12.136-3.908-1.351-1.015-5.752-2.775-7.79-3.507-.952-.341-2.58-3.122-3.139-4.378-.565-1.256-4.445-3.796-5.434-3.937l-.155-5.23 11.229-3.453s2.893-1.327 3.174-1.327c.283 0-1.342-2.104-1.551-2.669-.211-.56-1.27-4.376-1.27-4.376s3.791 4.583 5.713 5.441c0 0-3.775-7.008-4.899-10.914-1.13-3.907-1.872-10.009-1.872-10.566 0-.561-2.327-16.95-3.597-19.669-1.27-2.724-2.992-6.417-5.942-8.231-2.948-1.814-7.319-4.396-13.599-4.741l-.28-.013-.284.013c-6.275.346-10.646 2.929-13.595 4.741-2.945 1.813-4.669 5.508-5.94 8.231-1.269 2.719-3.598 19.108-3.598 19.669 0 .557-.658 6.906-1.787 10.809-1.129 3.908-4.984 10.67-4.984 10.67 1.923-.857 5.712-5.441 5.712-5.441s-1.365 4.189-1.58 4.748c-.213.562-1.522 2.298-1.239 2.298.279 0 3.174 1.327 3.174 1.327l11.232 3.453-.159 5.23c-.986.141-4.865 2.683-5.431 3.937-.566 1.256-2.19 4.037-3.14 4.378-2.043.731-6.439 2.492-7.791 3.507-2.315 1.726-7.826 3.208-12.131 3.908-4.302.693-7.02 7.042-7.02 7.042-.016.216-1.473 11.276-1.437 11.48h99.999z' fill='#fff'/></svg>");
}
