<!-- start: partials/modals/google-ad.html -->
<div id="google-ad" class="google-ad bg-red white p1">
  <p>
    This content will be replaced
  </p>
</div>

<script>
console.log('ad script loaded');
(function() {
  console.log('ad script running');
  var node = document.getElementById('google-ad');
  if(node) {
    node.firstElementChild.textContent = 'This text was inserted by javascript. It\'s a proof of concept that ad\'s work'
  }
})();
</script>
<!-- end: partials/modals/google-ad.html -->
