<!-- start: partials/modals/inhouse-green.html -->
<div class="modal">
  <div class="arrow arrow-green arrow-bottom">
    <a aria-controls="modal">
      <svg class="icon small">
        <title>Close</title>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
      </svg>
    </a>
    <div>
      <svg class="modal-icon-large">
        <title>Close</title>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-email"></use>
      </svg>
    </div>
    <h1>Send and receive messages now</h1>
    <p>Premium members can send and receive unlimited messages to all members on UkraineDate.</p>
    <p>Upgrade now to unlock unlimited communications.</p>
  </div>
  <div class="actions">
    <a class="btn primary" href="/upgrade.html">Upgrade Now</a>
    <a class="btn link" aria-controls="modal">No Thanks</a>
  </div>
</div>
<!-- end: partials/modals/inhouse-green.html -->
