<!-- start: partials/modals/inhouse-long.html -->
<div class="modal">
  <div class="arrow arrow-red arrow-bottom">
    <a aria-controls="modal">
      <svg class="icon small">
        <title>Close</title>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
      </svg>
    </a>
    <div>
      <svg class="modal-icon-large">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-email"></use>
      </svg>
    </div>
    <h1>Get better matches</h1>
    <p>Answer three questions to help us show you better matches. It takes less than 30 seconds!</p>
  </div>
  <form class="form" action="/api/form.html" method="post">
    <div>
      <label class="bold">What's your height?</label>
      <select class="input-1" name="height">
        <option value="180">180cm</option>
        <option value="182">180cm</option>
      </select>
    </div>
    <!-- <div>
      <label class="bold">What color hair do you have?</label>
      <select class="input-1">
        <option>Blonde</option>
      </select>
    </div>
    <div>
      <label class="bold">What color hair do you like?</label>
      <select class="input-1">
        <option>Blonde</option>
      </select>
    </div>
    <div>
      <label class="bold">What height are you looking for?</label>
      <select class="input-1">
        <option>157cm</option>
      </select>
    </div>
      -->

    <div class="actions">
      <input type="submit" class="btn primary" value="Submit answers">
      <a class="btn link" aria-controls="modal">I'll answer these later</a>
    </div>

  </form>
</div>
<!-- end: partials/modals/inhouse-long.html -->
