<!-- start: partials/modals/inhouse-yellow.html -->
<div class="modal">
  <div class="arrow arrow-yellow arrow-bottom">
    <a aria-controls="modal">
      <svg class="icon small">
        <title>Close</title>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
      </svg>
    </a>
    <div>
      <svg class="modal-icon-large">
        <title>Close</title>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-star"></use>
      </svg>
    </div>
    <h1>Free Trial Activated</h1>
    <p>
      Your 48 hour free trial on UkraineDate is now live
    </p>
    <p>
      Enjoy all the benefits of a premium membership no strings attached
    </p>
  </div>
  <div class="actions">
    <a class="btn primary" href="/matches/">Browse singles now</a>
    <a class="btn link" aria-controls="modal">No Thanks</a>
  </div>
</div>
<!-- start: partials/modals/inhouse-yellow.html -->
