<!-- start: partials/modals/inhouse-camera.html -->
<div class="modal">
  <div class="arrow arrow-blue arrow-bottom">
    <a aria-controls="modal">
      <svg class="icon small">
        <title>Close</title>
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-close"></use>
      </svg>
    </a>
    <div>
      <svg class="modal-icon-large">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-camera"></use>
      </svg>
    </div>
    <h1>Get 10 x more attention with a photo</h1>
  </div>
  <form class="form">

    <div class="center mt3 mb2">
      <a href="/linktofacebook">
      <svg class="modal-icon-medium blue">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-facebook"></use>
      </svg>
      <span class="btn bold m0 black">Upload from Facebook</span>
      </a>
    </div>
    <div class="center mt2 mb2">
      <input type="file" name="file" id="file" class="inputfile hide" />
      <label for="file">
        <svg class="modal-icon-medium blue">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-profilecompletion"></use>
        </svg>
        <span class="btn bold m0 black">Upload from your phone</span>
      </label>
    </div>
    <div class="actions">
      <a class="btn link" aria-controls="modal">I'll add a photo later</a>
    </div>

  </form>
</div>
<!-- end: partials/modals/inhouse-camera.html -->
