---
title: Messages
---

<nav class="segmented-button">
  <a href="#inbox" class="active">Inbox</a>
  <a href="#sent">Sent</a>
</nav>

{{#each messages}} {{#each ../profiles}} {{#ifCond id ../profileId}}
<article class="messages card postload{{#ifCond ../../read false}} unread{{/ifCond}}">
  <a href="/messages/message.html" class="card-header flex p1">
    <div class="card-avatar relative" data-profileId="{{ ../../profileId }}"{{#if online}} data-online="true"{{/if}}>
        <img data-src="{{ avatar }}" alt="" class="circle">
    </div>
    <div class="card-info flex flex-auto flex-column ml1">
      <span class="flex flex-baseline">
        <span class="card-info-name flex-auto">{{ name }} {{#if membership}}
          <svg class="icon small membership-{{ membership }}">
            <title>Membership</title>
            <use xlink:href="#icon-profile"></use>
          </svg>{{/if}}
        </span>
        <span class="card-info-timestamp flex-end small-text">{{ ../../timestamp }}</span>
      </span>
      <span class="card-info-msg medium-text">{{ ../../content }}</span>
      </span>
    </div>
  </a>
</article>


{{/ifCond}} {{/each }} {{/each}}
