/* Custom media queries */
/*
@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);
*/

@custom-media --breakpoint-sm-px (max-width: 320px);


/* Custom properties */
:root {
  --font-family: 'Roboto','Fira Sans','Helvetica Neue', Helvetica, sans-serif;
  --line-height: 1.5;
  --heading-font-family: var(--font-family);
  --heading-font-weight: 400;
  --heading-line-height: 1.25;
  --monospace-font-family: 'Source Code Pro', Consolas, monospace;
  --cubic-bezier-1: cubic-bezier(0.4, 0.01, 0.17, 0.99);
  --cubic-bezier-2: cubic-bezier(0.2, 1.69, 0.69, 0.8);
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: 0.875rem;
  --h6: 0.75rem;
  --bold-font-weight: 500;
  --normal-font-weight: 300;
  --space-1: 0.5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;
  --form-field-font-size: 1rem;
  --form-field-height: 2.25rem;
  --form-field-padding-y: 0.5rem;
  --form-field-padding-x: 0.5rem;
  --button-font-size: inherit;
  --button-font-weight: var(--normal-font-weight);
  --button-line-height: 1.125rem;
  --button-padding-y: 0.5rem;
  --button-padding-x: 1rem;
  --container-width: 64em;
  --black: #111;
  --gray: #aaa;
  --silver: #ddd;
  --white: #fff;
  --aqua: #7fdbff;
  --blue: #0074d9;
  --navy: #001f3f;
  --teal: #39cccc;
  --green: #2ecc40;
  --olive: #3d9970;
  --lime: #01ff70;
  --yellow: #ffdc00;
  --orange: #ff851b;
  --red: #ff4136;
  --fuchsia: #f012be;
  --purple: #b10dc9;
  --maroon: #85144b;
  --darken-0: rgb(0,0,0,0);
  --darken-1: rgba(0,0,0,0.0625);
  --darken-2: rgba(0,0,0,0.125);
  --darken-3: rgba(0,0,0,0.25);
  --darken-4: rgba(0,0,0,0.5);
  --lighten-0: rgb(255,255,255,0);
  --lighten-1: rgba(255,255,255,0.0625);
  --lighten-2: rgba(255,255,255,0.125);
  --lighten-3: rgba(255,255,255,0.25);
  --lighten-4: rgba(255,255,255,0.5);

  --border-width: 1px;
  --border-radius: 3px;
  --border-color: var(--darken-2);
  --hover-background-color: var(--darken-1);
  --link-color: var(--blue);
  --button-background-color: var(--blue);
  --pre-background-color: var(--silver);
}
