@import 'common';

:root {
  --theme-red: #c23b2d;
  --theme-green: #86d15c;
  --theme-blue: #34495e;
  --theme-yellow: rgb(243, 156, 18);
  --theme-green-btn: #70bb46;
  --theme-green-lighten: #e5f3de;
  --theme-color: var(--white);
  --theme-background-color: #9e90a7;
}

.bg-red {
  background-color: var(--theme-red);
}
.bg-green {
  background-color: var(--theme-green);
}
.bg-blue {
  background-color: var(--theme-blue);
}
.bg-yellow {
  background-color: var(--theme-yellow);
}

.bg-green-lighten {
  background-color: var(--theme-green-lighten);
}

.red {
  color: var(--theme-red);
  fill: var(--theme-red);
}
.green {
  color: var(--theme-green);
  fill: var(--theme-green);
}
.blue {
  color: var(--theme-blue);
  fill: var(--theme-blue);
}
.yellow {
  color: var(--theme-yellow);
  fill: var(--theme-yellow);
}
.black {
  color: #000;
}
