
@import 'default';

/*override color scheme*/
:root {
  --theme-red: #f80;
  --theme-green: #86d15c;
  --theme-blue: #34495e;
  --theme-yellow: rgb(243, 156, 18);
  --theme-green-btn: #70bb46;
  --theme-green-lighten: #e5f3de;
  --theme-color: var(--white);
  --theme-background-color: lime;
}
