---
title: Icons
---
<style>
  .icons a {width: 32%; font-sze: 20px;}
  .icons span {font-size: 11px; letter-spacing: 0.1em; text-align:center}
</style>
<div class="icons flex flex-wrap">
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-logo-mark"></use></svg><span>icon-activity</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-home"></use></svg><span>icon-home</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-activity"></use></svg><span>icon-activity</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-block"></use></svg><span>icon-block</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-camera"></use></svg><span>icon-camera</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-cameraflash"></use></svg><span>icon-cameraflash</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-close"></use></svg><span>icon-close</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-creditcard"></use></svg><span>icon-creditcard</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-email"></use></svg><span>icon-email</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-eye"></use></svg><span>icon-eye</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-facebook"></use></svg><span>icon-facebook</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-facebookdefault"></use></svg><span>icon-facebookdefault</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-hamburger"></use></svg><span>icon-hamburger</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-heart"></use></svg><span>icon-heart</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-info"></use></svg><span>icon-info</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-lock"></use></svg><span>icon-lock</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-man"></use></svg><span>icon-man</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-matches"></use></svg><span>icon-matches</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-menuleft"></use></svg><span>icon-menuleft</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-messages"></use></svg><span>icon-messages</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-profile"></use></svg><span>icon-profile</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-profilecompletion"></use></svg><span>icon-profilecompletion</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-replyarrow"></use></svg><span>icon-replyarrow</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-rightarrow"></use></svg><span>icon-rightarrow</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-search"></use></svg><span>icon-search</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-sendmessage"></use></svg><span>icon-sendmessage</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-settings"></use></svg><span>icon-settings</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-star"></use></svg><span>icon-star</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-tick"></use></svg><span>icon-tick</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-triangle-down"></use></svg><span>icon-triangle-down</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-upgradearrow"></use></svg><span>icon-upgradearrow</span></a>
<a class="flex flex-center flex-column"><svg class="icon"><use xlink:href="#icon-woman"></use></svg><span>icon-woman</span></a>
</div>
