{{!--
  Add the script anywhere in the document
  <script async src="//www.googletagservices.com/tag/js/gpt_mobile.js"></script>
  --}}
<script>
  window.googletag = window.googletag || {cmd: []}
  googletag.cmd.push(function() {
    googletag.pubads().enableAsyncRendering();
    googletag.enableServices();
  });
</script>

<script>
  // Load this from our profile??
  // It let's us know the segment we are targeting

    googletag.cmd.push(function() {
      googletag.pubads()
      .setTargeting('ag', ['43'])
      .setTargeting('ed', ['316'])
      .setTargeting('ge', ['male'])
      .setTargeting('in', ['2'])
      .setTargeting('la', ['en'])
      .setTargeting('oc', ['588'])
      .setTargeting('re', ['669'])
    });
</script>

<div id="generated-id">
  <script>
    // Identify the ad slot
    // Need to be careful here wrt to duplicate id's across various viewports
    // We can queue a generated adslot id on the fly,
    // the important part (as I understand it), is the adUnitPath
    //
    // defineSlot(String adUnitPath, Array [x, y], String node.id)

    googletag.cmd.push(function() {
      googletag
      .defineSlot('/291063315/LAC-300_250-Mobile-Below-the-Fold', [300, 250], 'generated-id')
      .addService(googletag.pubads())
    });

    // Display an ad - depends on an ad slot having be set up for the id
    //
    // display(String node.id)

    googletag.cmd.push(function() {
      googletag.display('generated-id')
    })
  </script>
</div>
