<nav id="menu">
  <div class="backdrop">
  <div class="menu-header navbar">
    <a href="#main" aria-controls="menu" class="flex flex-center">
      <svg class="icon">
        <use xlink:href="#icon-logo-mark" />
      </svg>
      <span>Ukrainedate.com</span>
    </a>
  </div>
  <div class="menu-content">
    <a href="/" class="flex flex-center">
      <svg class="icon">
        <use xlink:href="#icon-home" />
      </svg>
      <span>Home</span>
    </a>
    <a href="/messages/" class="activity-mailTotal flex flex-center">
      <svg class="icon">
        <use xlink:href="#icon-messages" />
      </svg>
      <span>Messages</span>
    </a>
    <a class="activity-listInteractionTotal flex flex-center" aria-controls="menu-activity">
      <svg class="icon">
        <use xlink:href="#icon-activity" />
      </svg>
      <span>Activity</span>
    </a>
    <div id="menu-activity" aria-expanded="false" class="menu-selection-list flex flex-column">
      <h2 class="flex flex-center">
        <span>Towards me</span>
      </h2>
      <a href="/activity/interestedinme.html" class="activity-interest flex flex-center">
        <span>Interested in me</span>
      </a>
      <a href="/activity/viewedprofile.html" class="activity-profileview flex flex-center">
        <span>Viewed my profile</span>
      </a>
      <a href="/activity/favorites.html" class="activity-favourite flex flex-center">
        <span>I'm their favorite</span>
      </a>
      <h2 class="flex flex-center">
        <span>From me</span>
      </h2>
      <a href="/activity" class="flex flex-center">
        <span>My interest</span>
      </a>
      <a href="/activity" class="flex flex-center">
        <span>Profiles I viewed</span>
      </a>
      <a href="/activity" class="flex flex-center">
        <span>My favourites</span>
      </a>
    </div>
    <a href="/search" class="flex flex-center">
      <svg class="icon">
        <use xlink:href="#icon-search" />
      </svg>
      <span>Search</span>
    </a>
    <a href="/matches" class="flex flex-center">
      <svg class="icon">
        <use xlink:href="#icon-matches" />
      </svg>
      <span>Matches</span>
    </a>
    <a href="/profile/" class="flex flex-center">
      <svg class="icon">
        <use xlink:href="#icon-profile" />
      </svg>
      <span>My Profile</span>
    </a>
    <a class="flex flex-center">
      <svg class="icon">
        <use xlink:href="#icon-settings" />
      </svg>
      <span>Settings</span>
    </a>
    <a href="/dev" class="flex flex-center">
      <svg class="icon">
        <use xlink:href="#icon-settings" />
      </svg>
      <span>Dev</span>
    </a>

  </div>
  <section class="menu-footer">
    <a href="/upgrade.html" class="upgrade-now-btn flex flex-center">
      <svg class="icon">
        <use xlink:href="#icon-upgradearrow" />
      </svg>
      <div class="text">
        <h1>Upgrade Now!</h1>
        <p>Get unlimited communication</p>
      </div>
    </a>
  </section>
</div>
</nav>
