{{!--

<div class="center p1">
  <h1 class="h3 red">{{ emptyset.title }}</h1>
  <p>{{ emptyset.message }}</p>
  <div class="rounded p1 bg-green-lighten">
    <h1 class="h3 bold mt1">{{ emptyset.cta.title }}</h1>
    <p>{{ emptyset.cta.message }}</p>
    <a class="btn btn-primary bg-green block bold" href="matches.htm">{{ emptyset.cta.label }}</a>
  </div>
</div>

--}}

<div class="center p1">
  <h1 class="h3 red">You currently have no mail</h1>
  <p>Don't worry we have so many members, you're sure to receive mail soon. The best way to increase your chance of receiving mail is to:</p>
  <div class="rounded p1 bg-green-lighten">
    <h1 class="h3 bold mt1">Make The First Move!</h1>
    <p>Start communicating with the members that you are interested in</p>
    <a class="btn btn-primary bg-green block bold" href="matches.htm">View Matches</a>
  </div>
</div>
