/* Arrows */

:root {
  --arrow-width: 15px;
}
.arrow {
  position: relative;
  border-radius: 5px;
  margin-bottom: calc( 1.5 * var(--arrow-width));
  padding-bottom: 1em;
}
.arrow:after {
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: var(--arrow-width);
  border-style: solid;
  border-color: transparent;
}
.arrow-red {
  background-color: var(--theme-red);
}
.arrow-red:after {
  color: var(--theme-red);
}
.arrow-green {
  background-color: var(--theme-green);
}
.arrow-green:after {
  color: var(--theme-green);
}
.arrow-blue {
  background-color: var(--theme-blue);
}
.arrow-blue:after {
  color: var(--theme-blue);
}
.arrow-yellow {
  background-color: var(--theme-yellow);
}
.arrow-yellow:after {
  color: var(--theme-yellow);
}

.arrow-top:after {
  border-bottom-color: currentcolor;
  left: 50%;
  bottom: 100%;
  margin-left: -var(--arrow-width);
}
.arrow-right:after {
  border-left-color: currentcolor;
  left: 100%;
  top: 50%;
  margin-top: -var(--arrow-width);
}
.arrow-bottom:after {
  border-top-color: currentcolor;
  top: 100%;
  left: 50%;
  margin-left: -var(--arrow-width);
}
.arrow-left:after {
  border-right-color: currentcolor;
  top: 50%;
  right: 100%;
  margin-top: -var(--arrow-width);
}
