.card {
  /*position: relative;*/
}

.card-header + .slides {
  margin-top: -20px;
}
.card-info-location span + span:before {
  content: ' • ';
}

@media (--breakpoint-sm-px) {
  .card-info-name + .small-text {
    display: none;
  }
}

.card-image img {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.card-image img[data-src] {
  opacity: 0;
}

.card-actions a {
  color: #000;
  height: 34px;
  width: 34px;
  background: var(--lighten-3);
  border: 1px solid currentcolor;
  backface-visibility: hidden;
  position: relative;
  -webkit-tap-highlight-color: var(--darken-0);
  transition-property: border-color, color;
  transition-duration: 0.25s;
  transition-timing-function: ease-in;
}
.card-actions a svg {
  fill: currentcolor;
}

.card-actions a:not([data-interest]):active,
.card-actions a[data-interest='0']:active {
  color: var(--theme-green-btn);
}


.card-actions [data-interest='1'],
.card-actions [data-interest='2'] {
  color: var(--theme-red);
}
