
.backdrop[aria-hidden=true] {
  display: none;
}

.backdrop[aria-hidden=false] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 10000;
}

.backdrop a {
  color: var(--black);
}

.backdrop-modal {
  background: var(--darken-4);
}


.dropdown {
  position: fixed;
  top: 44px;
  right: 5px;
  color: blue;
  background: var(--white);
  margin-left: 5px;
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 7px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

[dir=rtl] .dropdown {
  right: auto;
  left: 5px;
  margin-right: 5px;
}

.dropdown .btn {
  display: block;
}

.btn-link {
  font-weight: var(--normal-font-weight);
}

.panel {
  color: blue;
  background: var(--white);
  margin-top: calc(44px + 1em);
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 7px;
  border: 1px solid #ddd;
  border-radius: 7px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.panel .btn {
  display: block;
}
