
.form input[type=text],
.form input[type=password],
.form input[type=email],
.form input[type=url],
.form input[type=date],
.form input[type=month],
.form input[type=time],
.form input[type=datetime],
.form input[type=datetime-local],
.form input[type=week],
.form input[type=number],
.form input[type=search],
.form input[type=tel],
.form input[type=color],
.form select,
.form textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box;
}
.form input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.form input[type=color] {
  padding: 0.2em 0.5em;
}
.form input[type=text]:focus,
.form input[type=password]:focus,
.form input[type=email]:focus,
.form input[type=url]:focus,
.form input[type=date]:focus,
.form input[type=month]:focus,
.form input[type=time]:focus,
.form input[type=datetime]:focus,
.form input[type=datetime-local]:focus,
.form input[type=week]:focus,
.form input[type=number]:focus,
.form input[type=search]:focus,
.form input[type=tel]:focus,
.form input[type=color]:focus,
.form select:focus,
.form textarea:focus {
  outline: 0;
  border-color: #129fea;
}
.form input:not([type]):focus {
  outline: 0;
  border-color: #129fea;
}
.form input[type=file]:focus,
.form input[type=radio]:focus,
.form input[type=checkbox]:focus {
  outline: thin solid #129fea;
  outline: 1px auto #129fea;
}
.form .checkbox,
.form .radio {
  margin: 0.5em 0;
  display: block;
}
.form input[type=text][disabled],
.form input[type=password][disabled],
.form input[type=email][disabled],
.form input[type=url][disabled],
.form input[type=date][disabled],
.form input[type=month][disabled],
.form input[type=time][disabled],
.form input[type=datetime][disabled],
.form input[type=datetime-local][disabled],
.form input[type=week][disabled],
.form input[type=number][disabled],
.form input[type=search][disabled],
.form input[type=tel][disabled],
.form input[type=color][disabled],
.form select[disabled],
.form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
.form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
.form input[readonly],
.form select[readonly],
.form textarea[readonly] {
  background-color: #eee;
  color: #777;
  border-color: #ccc;
}
.form input:focus:invalid,
.form textarea:focus:invalid,
.form select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d;
}
.form input[type=file]:focus:invalid:focus,
.form input[type=radio]:focus:invalid:focus,
.form input[type=checkbox]:focus:invalid:focus {
  outline-color: #e9322d;
}
.form select {
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: var(--white);
}
.form select[multiple] {
  height: auto;
}
.form label {
  margin: 0.5em 0 0.2em;
}
.form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}
.form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}
.form-stacked input[type=text],
.form-stacked input[type=password],
.form-stacked input[type=email],
.form-stacked input[type=url],
.form-stacked input[type=date],
.form-stacked input[type=month],
.form-stacked input[type=time],
.form-stacked input[type=datetime],
.form-stacked input[type=datetime-local],
.form-stacked input[type=week],
.form-stacked input[type=number],
.form-stacked input[type=search],
.form-stacked input[type=tel],
.form-stacked input[type=color],
.form-stacked input[type=file],
.form-stacked select,
.form-stacked label,
.form-stacked textarea {
  display: block;
  margin: 0.25em 0;
}
.form-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0;
}
.form-aligned input,
.form-aligned textarea,
.form-aligned select,
.form-aligned .help-inline,
.form-message-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.form-aligned textarea {
  vertical-align: top;
}
.form-aligned .control-group {
  margin-bottom: 0.5em;
}
.form-aligned .control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}
.form-aligned .controls {
  margin: 1.5em 0 0 11em;
}
.form input.input-rounded,
.form .input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em;
}
.form .group fieldset {
  margin-bottom: 10px;
}
.form .group input,
.form .group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px;
}
.form .group input:focus,
.form .group textarea:focus {
  z-index: 3;
}
.form .group input:first-child,
.form .group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0;
}
.form .group input:first-child:last-child,
.form .group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0;
}
.form .group input:last-child,
.form .group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0;
}
.form .group button {
  margin: 0.35em 0;
}
.form .input-1 {
  width: 100%;
}
.form .input-2-3 {
  width: 66%;
}
.form .input-1-2 {
  width: 50%;
}
.form .input-1-3 {
  width: 33%;
}
.form .input-1-4 {
  width: 25%;
}
.form .help-inline,
.form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em;
}
.form-message {
  display: block;
  color: #666;
  font-size: 0.875em;
}
@media only screen and (max-width:480px) {
  .form button[type=submit] {
    margin: 0.7em 0 0;
  }
  .form input:not([type]),
  .form input[type=text],
  .form input[type=password],
  .form input[type=email],
  .form input[type=url],
  .form input[type=date],
  .form input[type=month],
  .form input[type=time],
  .form input[type=datetime],
  .form input[type=datetime-local],
  .form input[type=week],
  .form input[type=number],
  .form input[type=search],
  .form input[type=tel],
  .form input[type=color],
  .form label {
    margin-bottom: 0.3em;
    display: block;
  }
  .group input:not([type]),
  .group input[type=text],
  .group input[type=password],
  .group input[type=email],
  .group input[type=url],
  .group input[type=date],
  .group input[type=month],
  .group input[type=time],
  .group input[type=datetime],
  .group input[type=datetime-local],
  .group input[type=week],
  .group input[type=number],
  .group input[type=search],
  .group input[type=tel],
  .group input[type=color] {
    margin-bottom: 0;
  }
  .form-aligned .control-group label {
    margin-bottom: 0.3em;
    text-align: left;
    display: block;
    width: 100%;
  }
  .form-aligned .controls {
    margin: 1.5em 0 0;
  }
  .form .help-inline,
  .form-message-inline,
  .form-message {
    display: block;
    font-size: 0.75em;
    padding: 0.2em 0 0.8em;
  }
}
