
html {
  /*box-sizing: border-box;*/
  text-size-adjust: 100%;
}
body {
  font-family: var(--font-family);
  /*-webkit-overflow-scrolling: touch;*/
}


svg {
  fill: inherit;
}

a svg > use {
  pointer-events: none;
}

a:hover {
  text-decoration: none;
}

.icon {
  width: 20px;
  height: 20px;
  fill: #000;
  padding: 0.5rem;
}

.icon.large {
  width: 38px;
  height: 38px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.icon.small {
  width: 15px;
  height: 15px;
  padding: 0;
  position: relative;
  top: 3px;
  fill: #999;
}

.small-text {
  font-size: 12px;
}

.medium-text {
  font-size: 14px;
}
.default-text {
  font-size: 16px;
}
