.card-avatar {
  height: 66px;
  min-width: 66px;
  overflow: hidden;
}
.card-avatar img {
  background-color: var(--silver);
  width: 66px;
  height: 66px;
  border: 3px solid var(--white);
  box-sizing: border-box;
}

.card-avatar[data-online=true]:after {
  content: ' ';
  background: var(--theme-green);
  position: absolute;
  width: 16px;
  height: 16px;
  bottom: 5px;
  right: 2px;
  border-radius: 50%;
  border: 3px solid var(--white);
  box-sizing: border-box;
}


.card-info {
  color: var(--gray);
}

/*
Potential polyfill : https://github.com/josephschmitt/Clamp.js/blob/master/clamp.js
*/
.card-info-msg {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--black);
  font-weight: 300;
}

.card-info-name,
.card-info-subject {
  color: var(--black);
  font-size: 20px;
}
.card-info-location {
  line-height: 1.5;
}
.card-header {
  line-height: 1.337;
}

.card-info-name .icon.small {
  width: 14px;
  height: 14px;
  top: 1px;
}

.messages .card-info-name {
  font-weight: var(--normal-font-weight);
}

.messages.unread .card-header {
  background: var(--silver);
}

.messages.unread .card-info-name,
.messages.unread .card-info-subject,
.messages.unread .card-info-summary,
.messages.unread .card-info-timestamp {
  font-weight: 700;
}


.icon-chevron {
  width: 10px;
  height: 20px;
  padding: 0;
  fill: var(--silver);
}



.message-input {
  position: fixed;
  bottom: 0.5em;
  width: 100%;
  padding: 0.5em;
  border: 1px solid var(--red);
  visibility: visible;
}
