
.modal-open #modal {
  opacity: 1;
  z-index: 5000 !important;
  transition: opacity 1s 0.5s;
}

.modal-open body {
  overflow-y: hidden;
  position: absolute;
}

#modal {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--darken-4);
  content: '';
  overflow: hidden;
  opacity: 0;
}

body {
  box-sizing: border-box;
}

.modal-content {
  background-color: var(--white);
  color: var(--white);
  position: fixed;
  max-height: calc(100vh - (44px + 1em));
  top: 1em;
  right: 1em;
  left: 1em;
  z-index: 1;
  overflow: auto;
  border-radius: 4px;
  border: 7px solid var(--white);
}

.modal-content .modal {
  display: block;
}
.modal-content .modal .modal {
  color: var(--black);
}


.modal {
  display: none;
}

.modal {
  line-height: 1.337em;
  text-align: center;
}

.modal p {
  margin: 10px 20px;
}
.modal h1 {
  font-size: 20px;
  margin: 0 20px;
}

.modal-icon-large {
  fill: currentcolor;
  width: 100px;
  height: 100px;
  margin: 0;
  padding: 0;
}

@media (--breakpoint-sm-px) {
  .modal-icon-large {
    display: none;
  }
}

.modal-icon-medium {
  fill: currentcolor;
  width: 60px;
  height: 60px;
  margin: 0;
  padding: 0;
}

.modal header > a .icon.medium {
  width: 32px;
  height: 32px;
}


.modal [aria-controls] {
  display: block;
  outline: red;
  position: relative;
  min-height: 1em;
  margin-bottom: 10px;
}

.modal [aria-controls] svg.icon.small {
  position: absolute;
  right: 10px;
  top: 10px;
  fill: var(--white);
}

.modal .card-avatar,
.modal .card-avatar img {
  width: 100px;
  height: 100px;
}

.modal :last-child,
.modal .actions :last-child {
  margin-bottom: 0;
}

.modal .actions {
  box-sizing: border-box;
  margin-top: 20px;
  text-align: center;
}

.modal .btn {
  color: var(--blue);
  line-height: 32px;
  display: block;
  border-radius: 5px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.modal .btn.primary {
  color: var(--white);
  font-weight: var(--bold-font-weight);
  background-color: var(--theme-green-btn);
}

.modal .btn.m0 {
  margin: 0;
}

.modal .btn.black {
  color: #000;
}

.modal .btn .modal-icon-medium {
  width: 32px;
  height: 32px;
  fill: var(--white);
  position: absolute;
  left: 10px;
}
