.viewport {
  position: absolute;
  min-height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s;
}

.viewport-active {
  position: relative;
  background-color: var(--theme-background-color);
  height: auto;
  z-index: 20;
  overflow-y: auto;
  opacity: 1;
}

.viewport-active .content {
  background: var(--white);
}


.menu-open,
.menu-open body {
  width: 100vw;
}

.menu-open body {
  overflow-y: hidden;
}

main {
  position: relative;
  z-index: 100;
  transition: transform 0.5s;
  width: 100vw;
}
main > header {
  display: none;
}
body > header {
  z-index: 4000 !important;
  position: absolute;
  top: 0;
  left: 0;
  background: lime;
}

.menu-open #menu {
  opacity: 1;
  transition: transform 0.5s ease, background-color 0.25s ease 0.4s;
  background-color: rgba(0,0,0,0.2);
  transform: translateX(0);
}

main {
  background: #f0f0f0;
}
#menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 150vw;
  z-index: 9999;
  transform: translateX(-100%);
  transition: transform 0.5s ease;
  background-color: rgba(0,0,0,0);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}


[dir=rtl] #menu {
  transform: translateX(100%);
  right: 0;
}

[dir=rtl].menu-open #menu {
  transform: translateX(0);
}

[dir=rtl] #menu .menu-content {
  right: 0;
}
[dir=rtl] .navbar {
  left: auto;
  right: 0;
}

#menu .navbar {
  width: 80vw;
}
#menu .backdrop {
  height: 100vh;
  width: calc(80vw);
  background-color: var(--white);
}

#menu .menu-content {
  position: fixed;
  left: 0;
  top: 44px;
  bottom: 50px;
  width: 100vw;
  width: 80vw;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
main {
  transition: transform 0.5s  var(--cubic-bezier-1);
}


.menu-footer {
  position: fixed;
  bottom: 0;
  background: lime;
  width: 100vw;
  width: 80vw;
  height: 50px;
  overflow: hidden;
}

.menu-content a {
  position: relative;
  color: #000;
  border-bottom: 1px solid #ccc;
  text-decoration: none;
  min-height: 44px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.menu-content a[data-count]:after,
.badge {
  content: attr(data-count);
  position: absolute;
  font-size: 12px;
  padding: 2px 9px 3px;
  background: #333;
  color: #ddd;
  border-radius: 100px;
  line-height: 1;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

[dir=rtl] .menu-content a[data-count]:after,
[dir=rtl] .badge {
  right: auto;
  left: 15px;
}

.menu-selection-list {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s  var(--cubic-bezier-1);
}

.menu-selection-list[aria-expanded='true'] {
  max-height: 100vh;
  overflow: scroll;
}

.menu-selection-list h2 {
  font-size: 14px;
  background: #ccc;
  margin: 0;
  padding: 5px;
  min-height: 24px;
}

.menu-selection-list a {
  background-color: #efefef;
  padding: 0 20px;
}
