.navbar {
  background-color: var(--theme-background-color);
  color: var(--theme-color);
  z-index: 10;
  min-height: 44px;
}

.navbar .title {
  margin: 0;
  font-size: 1rem;
}

.navbar .icon {
  fill: var(--theme-color);
}

.navbar a {
  max-height: 44px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.navbar {
  transition: transform 0.2s ease-in;
  transform: translateY(-44px);
  position: fixed;
}
.nav-pinned .navbar {
  transform: translateY(0);
}

.navbar {
  left: 0;
  top: 0;
  width: 100vw;
}

.viewports {
  margin-top: 44px;
}
