
#notices {
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-100%);
  transition: transform 0.5s;
  position: fixed;
  z-index: 1000;
}

.notices-open #notices {
  transform: translateY(-44px);
}

.notices-open.nav-pinned #notices {
  transform: translateY(0);
}

.notices-content {
  color: var(--white);
  padding: calc(44px + 1em) 1em 1em;
}
