.profile-nav {
  z-index: 400;
}


.profile-nav a {
  position: relative;
  height: 55px;
  background-color: #ededed;
  border-right: 1px solid #ddd;
}

.profile-nav [data-count]:after {
  font-size: 13px;
  font-weight: var(--bold-font-weight);
  background-color: #bbb;
  padding: 3px 5px;
  content: attr(data-count);
  color: #000;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  line-height: 1;
  border-radius: 10px;
  transform: translateX(13px) translateY(-22px);
}
