.segmented-button {
  display: flex;
  background: var(--theme-background-color);
  color: var(--black);
  margin: 10px;
  font-weight: var(--bold-font-weight);
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid var(--white);
}

.segmented-button a {
  color: var(--black);
  padding: 5px;
  flex: 1 1 auto;
  text-align: center;
}
.segmented-button a.active {
  background: var(--white);
  color: var(--theme-background-color);
}


/*@TODO: Resolve this proeprly*/
article.card {
  background: var(--white);
}

/*.viewport-active .content {
  background: transparent !important;
}*/
