.slides {
  position: relative;
  overflow: hidden;
}


.slides figure,
.slides {
  min-width: 100vw;
  width: 100vw;
  height: 100vw;
  margin: 0;
  padding: 0;
}

.slides img {
  width: 100%;
  height: auto;
  opacity: 1;
  transition: opacity 0.5s;
  pointer-events: none;
  object-fit: cover;
  overflow: hidden;
}

.slides img[data-src] {
  opacity: 0;
}

.slides nav {
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  user-select: none;
}

[dir=rtl] .slides nav {
  right: auto;
  left: 0;
}

.touch .slides nav a {
  pointer-events: none;
}

.slides nav a {
  width: 4px;
  height: 4px;
  margin: 0 5px;
  background: #000;
  border: 2px solid var(--white);
  opacity: 0.2;
  border-radius: 50%;
  pointer-events: auto;
  cursor: pointer;
}

.slides nav .active {
  opacity: 1;
}

.slides div {
  display: flex;
  will-change: transform;
  transform: translateX(0) translateZ(0);
  transition: transform 250ms;
  user-select: none;
}
