.sub-nav {
  padding-top: 44px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 200;
  transform: translateY(-44px) translateZ(0);
  transition: height 0.2s ease-in;
  -webkit-user-select: none;
  opacity: 0;
}

.sub-nav a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background: var(--white);
  height: 44px;
  padding: 0 10px;
}
.sub-nav a {
  text-decoration: none;
}

.sub-nav img {
  width: 34px;
  height: 34px;
  background-color: #ddd;
  border-radius: 50%;
  margin: 5px 10px;
}

.subnav-pinned .card {
  /*margin-top: -44px;
  padding-top: 44px;*/
}

.subnav-pinned .sub-nav {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.2s ease-in, opacity 0.2s ease-in-out;
}

.nav-pinned.subnav-pinned .sub-nav {
  opacity: 1;
  transform: translateY(44px);
}

.subnav-pinned .viewport {
  /*transform: translateY(44px) translateZ(0);*/
}


.subnav-pinned .sub-nav [aria-selected] {
  position: absolute;
  opacity: 1;
  z-index: 100;
  transform: scale(1);
}


.nav-open .sub-nav {
  overflow-y: scroll;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.nav-open .sub-nav [role=directory] {
  padding-bottom: 44px;
}

.nav-open body {
  overflow: hidden;
}
.nav-open .sub-nav a {
  opacity: 1;
  transform: scale(1);
  transform-origin: 0 50%;
  transition: opacity 0.2s 0.2s ease-in, transform 0.2s 0.2s var(--cubic-bezier-1);
  position: static;
}
