/*
Potential polyfill : https://github.com/josephschmitt/Clamp.js/blob/master/clamp.js
*/

.clamp {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clamp2 {
  -webkit-line-clamp: 2;
}
