.upgrade-now-btn {
  background-color: var(--theme-green-btn);
  color: var(--white);
}

.upgrade-now-btn .text {
  padding-top: 4px;
}

.upgrade-now-btn .icon {
  padding: 0 9px 9px;
  width: 25px;
  height: 25px;
}

.upgrade-now-btn h1 {
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
}

.upgrade-now-btn p {
  font-size: 13px;
}
