@import 'basscss';
@import '../css/theme/default';
@import '../css/dropdown';
@import '../css/nav';


/*basscss*/

.flex {
  display: flex;
}
.flex-center {
  align-items: center;
}
.flex-grow {
  flex: 1 0 auto;
}
.flex-column {
  flex-direction: column;
}

/*navbar.css*/

.navbar {
  background-color: #9E90A7;
  color: #fff;
  z-index: 10;
  min-height: 44px;
}
.navbar .title {
  margin: 0;
  font-size: 1rem;
  text-align: center;
}
.navbar .icon {
  fill: #fff;
}
.navbar a {
  max-height: 44px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.navbar {
  transition: transform .2s ease-in;
  transform: translateY(-44px);
  position: fixed;
}
.nav-pinned .navbar {
  transform: translateY(0);
}
.navbar {
  left: 0;
  top: 0;
  width: 100vw;
}

/*icons*/

.icon {
  width: 20px;
  height: 20px;
  fill: #000;
  padding: .5rem;
}

/*jqm overrides*/

.ui-mobile-viewport .navbar {
  /*transform: translate(0);*/
}

[data-role=page] {
  padding-top: 44px;
}

/*override h1*/

.navbar .title {
  text-shadow: none;
}
#menu h1, #menu h2 {
  text-shadow: none;
}

/*jqm override*/

.ui-loader {
  display: none !important;
  z-index: -1 !important;
}

/*override h1*/

.menu-footer {
  text-shadow: none;
}
.menu-footer a {
  min-height: 50px;
}
.menu-footer * {
  margin: 0;
}

/*Include our own font stack*/

.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button, body {
  font-family: 'Roboto', 'Fira Sans', 'Helvetica Neue', Helvetica, sans-serif;
}
