---
title: Matches
---

<a href="/matches/" class="loadmore button" data-prepend="true">Load prev</a>

{{#each profiles}} {{{ partial "profile/card.html" }}} {{/each}}

<a href="/matches/2.html" class="loadmore button" data-append="true">Load next</a>
<script>
  console.log('This is script injection while popping up a modal dialog');
</script>
