<a href="/profile/{{id}}" data-jqmpage="true" class="card-header flex relative p1 z1">
  <div class="card-avatar avatar-{{ gender }} relative" data-profileId="{{ id }}"{{#if online}} data-online="true" {{/if}}>
    <img data-src="{{ avatar }}" alt="" class="circle">
  </div>
  <div class="card-info flex-auto ml1">
    <div class="flex flex-baseline">
      <span class="card-info-name flex-auto clamp">{{ name }}{{#if membership}}
        <svg class="icon small membership-{{ membership }}">
          <title>Membership</title>
          <use xlink:href="#icon-profile"></use>
        </svg>{{/if}}
      </span>
      <span class="small-text">
        <span>{{ lastOnline }}</span>
      </span>
    </div>
    <div class="card-info-location medium-text clamp">
      <span>{{ age }}</span>
      <span>{{ location }}</span>
    </div>
    <!-- <div class="card-info-msg">{{ msg }}</div> -->
  </div>
</a>
