<!-- start: partials/profile/card.html -->
<article id="{{ id }}" class="card postload relative">
  {{{ partial "profile/card-header.html" }}}
  {{{ partial "profile/slides.html" }}}
  <footer class="card-actions absolute bottom-0 left-0 right-0 mx-auto center mb1">
    <a href="/api/interest/{{ id }}" class="circle btn p2 m1" data-interest="0" data-tpl='
    {"name":"{{ name }}","avatar":"{{ avatar }}","avatardefault": "avatar-{{ gender }}","msgbuttonlabel":"{{ msgbuttonlabel }}", "msg": "/messages/{{id}}"}
    '>
      <svg class="icon large">
        <title>Interest</title>
        <use xlink:href="#icon-heart"></use>
      </svg>
    </a>
    <a href="/messages/{{ profileid }}" class="chat circle btn p2 m1">
      <svg class="icon large">
        <title>Message</title>
        <use xlink:href="#icon-messages"></use>
      </svg>
    </a>
  </footer>
</article>
<!-- end: partials/profile/card.html -->
{{!--
  <!--- Return codes and message labels

		Return codes

		2: successfully expressed interest and they have expressed interest in us
		1: successfully expressed interest
		-1: person wants to add interest in itself
		-2: person can't show interest in person because of wrong sex wanted
		-3: person has already showed interest in the other person
		-10: person (toMember) is not active member of this site

		Message labels passed back

		message.noInterestInItselfError
		message.noInterestInFemale
		message.noInterestInMale
		message.noInterestInGenericSex
		message.alreadyExpressedInterest
		message.successfullyExpressedInterest
		message.successfullyExpressedInterestConfirmed
		message.notMemberOfThisSite

		--->
--}}
