{{!--
  Template for the "mutual interest" notification shown when a user has
  expressed interest in other user.

  This template should only be included once, as we populate it after parsing
  a json response and extracting a status code.

--}}

<!-- start: partials/profile/interest.html -->
<template id="mutualInterestTpl">
  <div class="modal">
    <header class="arrow arrow-red arrow-bottom">
      <a aria-controls="modal" class="inline-block">
        <svg class="icon small">
          <title>Close</title>
          <use xlink:href="#icon-close"></use>
        </svg>
      </a>
      <svg class="modal-icon-medium">
        <use xlink:href="#icon-heart"></use>
      </svg>
      <h1 class="heading">You're Both Interested!</h1>
      <p>You and
        <span class="name"></span> have both shown interest in each other</p>
    </header>
    <div class="content center">
      <div class="flex">
        {{!-- Populate .avatar-{{ gender }} with data.avatardefault and img.src with data.avatar --}}
        <div class="card-avatar flex-auto avatar-f">
          <img alt="" class="circle interest">
        </div>
        {{!-- Populate this with the current users details --}}
        <div class="card-avatar flex-auto avatar-m">
          <img src="http://cdn.ukrainedate.com/memphoto/Photo1/small/xxx.jpg" alt="" class="circle">
        </div>
      </div>
      <div class="actions">
        <a class="btn primary message" href="/messages/">
          <svg class="modal-icon-medium">
            <title>Membership</title>
            <use xlink:href="#icon-messages"></use>
          </svg>
          <span class="flex-auto msgbuttonlabel">Message them</span>
        </a>
        <a aria-controls="modal" class="btn link">No thanks</a>
      </div>

    </div>
  </div>
</template>
<!-- end: partials/profile/interest.html -->
