<!-- start: partials/profile/nav.html -->
<nav class="profile-nav flex flex-center relative">
  <a class="activity-interest flex-auto center" href="/activity/interestedinme.html">
    <svg class="icon large">
      <title>Interested</title>
      <use xlink:href="#icon-heart"></use>
    </svg>
  </a>
  <a class="activity-mailTotal flex-auto center" href="/messages/">
    <svg class="icon large">
      <title>Messages</title>
      <use xlink:href="#icon-messages"></use>
    </svg>
  </a>
  <a class="activity-favourite flex-auto center" href="/favorites/">
    <svg class="icon large">
      <title>Favorites</title>
      <use xlink:href="#icon-star"></use>
    </svg>
  </a>
  <a class="flex-auto center" href="/search/">
    <svg class="icon large">
      <title>Search</title>
      <use xlink:href="#icon-eye"></use>
    </svg>
  </a>
</nav>
<!-- end: partials/profile/nav.html -->
