<!-- start: include partials/profile/slides.html -->
<div class="slides avatar-{{gender}}">
  {{#ifCond images.length 1}}
  <div aria-label="1 photo of {{ name }}">
  {{else}}
  <div aria-label="{{ images.length }} photos of {{ name }}">
  {{/ifCond}}
    {{#each images}}
    <figure>
      {{!--
        <!-- <img data-src="http://dummyimage.com/800x800/000/fff.jpg?text={{ ../name }}+{{math @index "+" 1 }}+of+{{../images.length}}" alt=""> -->
        <!-- <img data-src="http://res.cloudinary.com/mrtempestwood/image/upload/t_cm_slide/cm/{{ ../id }}.jpg" alt=""> -->
        --}}
        <img data-src="{{ this }}" alt="">
    </figure>
    {{/each}}
  </div>
  {{#ifCond images.length 1}}
  {{else}}
  <nav aria-hidden="true">
    {{#each images}}
    {{#if @index}}
    <a></a>
    {{else}}
    <a class="active"></a>
    {{/if}}
    {{/each}}
  </nav>
  {{/ifCond}}
</div>
<!-- end: include partials/profile/slides.html -->
