<header class="card-header flex">
  <div class="card-avatar circle overflow-hidden">
    {{#if avatar}}
    <img data-src="{{ avatar }}" alt="">
    {{/if}}
  </div>
  <div class="card-info flex-auto flex">
    <span class="card-info-name flex-auto">{{ name }} {{#if age }} {{ age }}{{/if}}</span>
    <span class="card-timestamp">{{{ ../../../../subject }}}</span>
  </div>
  <!-- <div class="card-status flex-start flex flex-column">
    <span class="card-info-lastonline flex flex-auto">
      <svg class="icon">
        <title>Last online</title>
        <use xlink:href="#icon-activity"></use>
      </svg>
      <span class="date-relative">{{ lastOnline }}</span>
    </span>
    <span class="card-info-membership flex-end">
      {{ @key }}
    </span>
    <span class="card-info-membership flex-end">
      {{#if membership}}
      <svg class="icon medium membership-{{ membership }}">
        <title>Membership</title>
        <use xlink:href="#icon-profile"></use>
      </svg>{{/if}}
    </span>

  </div> -->
</header>
