{{!--
Partial payload for vnd.cupidmedia.html repsonses
--}}
<!-- start: layout/default.html -->
<title>{{{ title }}}</title>
<div class="content">
  {{{ contents }}}
</div>
<!-- end: layout/default.html -->
