{{!--
Full payload repsonse for html/text requests,
All subsequent requests for text/html and application/json will be made
using Accept: vnd.cupidmedia[format], this allows us to send a 'partial layout'
that includes just the content we want to update the SPA with.

## How it works ##

We detect the accept header, if it contains text/html then we return the full payload -
including the SPA layout, svg, css, and javascript.

We then retrieve the requested URL via XHR and send a partial layout which includes
the page content.

See layouts/default.html and pages/full-payload.html
--}}

<!DOCTYPE html>
<html class="nav-pinned">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <meta name="application-name" content="ukrainedate.com"/>
  <!-- start: default error message -->
  <meta id="defaultmessage" content="i18n whoops something went wrong , try again later" />
  <!-- end : default error message -->
  {{{ partial "vendor/head-webkit.html" }}}
  {{{ partial "vendor/head-windows.html" }}}
  {{{ partial "profile/meta-online.html"}}}
  {{{ partial "profile/meta-activity.html"}}}
  <link rel="stylesheet" href="/assets/base.css">
  <script async src="//googletagservices.com/tag/js/gpt_mobile.js"></script>
  <title>{{{ title }}}</title>
</head>

<body>
  {{{ partial "profile/interest.html"}}}
  {{{ partial "icons.svg" }}}
  <div id="modal" role="dialog">
    <div class="modal-content">
    </div>
  </div>
  <!-- start non-modal notices -->
  <div id="notices" role="dialog">
    <div class="notices-content">
    </div>
  </div>
  <!-- end non-modal notices -->
  <!-- start: header -->
  <header>
  <div class="navbar pinned flex flex-center">
    <a href="#menu" class="flex-start" aria-controls="menu" aria-expanded="false" class="activity-listInteractionTotal">
      <svg class="icon">
        <use xlink:href="#icon-hamburger"></use>
      </svg>
    </a>
    <h1 class="title flex-grow center">{{{ title }}}</h1>
    <!-- start: more button -->
    <a role="button" aria-controls="dropdownmenu" aria-pressed="false" aria-expanded="false" class="menu-button flex-end">
      <svg class="icon">
        <use xlink:href="#icon-more"></use>
      </svg>
    </a>
    <!-- end: more button -->
  </div>

  <!-- start: more dropdown menu -->
  <div id="dropdownmenu" aria-hidden="true" class="backdrop">
    <div class="dropdown">
        <a href="/messages" class="btn btn-link">Messages</a>
        <a href="/matches" class="btn btn-link">Matches</a>
        <a href="#options-a" aria-controls="options-a" aria-pressed="false" aria-expanded="false" class="btn btn-link">Options A</a>
        <a href="#options-b" aria-controls="options-b" aria-pressed="false" aria-expanded="false" class="btn btn-link">Options B</a>
    </div>
  </div>
  <!-- end: more dropdown menu -->

  <!-- start: modal panel -->
  <div id="options-a" aria-hidden="true" class="backdrop backdrop-modal">
    <div class="panel">
        <a href="/messages" class="btn">option 1</a></a>
        <a href="/matches" class="btn btn-link">option 2</a>
    </div>
  </div>
  <div id="options-b" aria-hidden="true" class="backdrop backdrop-modal">
    <div class="panel">
        <a href="/messages" class="btn btn-link">option 3</a></a>
        <a href="/matches" class="btn btn-link">option 4</a>
    </div>
  </div>
  <!-- end: modal panel -->
  </header>
  <!-- end: header -->
  <main id="panel" class="viewports">
    <div class="viewport viewport-active splash">
    </div>
  </main>
  {{{ partial "nav.html" }}}
  <script src="/assets/base.js"></script>
</body>

</html>
