<title>{{ title }}</title>
<div class="viewport viewport-active">
  <header class="navbar flex flex-center">
    <a href="#menu" class="flex-start" aria-controls="menu" aria-expanded="false">
      <svg class="icon">
        <use xlink:href="#icon-hamburger"></use>
      </svg>
    </a>
    <h1 class="title flex-grow center">{{ title }}</h1>
    <a href="/settings" class="flex-end">
      <svg class="icon">
        <use xlink:href="#icon-more"></use>
      </svg>
    </a>
  </header>
  <div class="content">
    {{{ contents }}}
  </div>
</div>
